.home {
    padding-top: 144px;
    margin: auto;
    display: flex;
    justify-content: center;
    min-height: 50vh;
    flex-wrap: wrap;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 48px;
}

@media (max-width: 768px) {
    .home {
        padding-top: 50px;
    }
}